<!DOCTYPE html>
<html>
<body>

<div id="demo">
  <h2>Load data</h2>
  <button type="button" onclick="loadDoc()">go!</button>
</div>

</body>
</html>

<script>
   function loadDoc() {
     var xhttp = new XMLHttpRequest();
     xhttp.onreadystatechange = function() {
       if (this.readyState == 4 && this.status == 200) {
        document.getElementById("demo").innerHTML = this.responseText;
       }
     };
     xhttp.open("GET", "http://localhost:5000/loader");
     xhttp.send();
   }
</script>
